<div class="index-c">
	<div class="story_list_container">
		<% @stories.each do |story| %>
			<!-- one story box -->
			<div class="story_container">
				<%= link_to story_path(story), method: :get do %>
					<div class="image_container" style="background-image: url(<%="#{@root_url}#{story.image_url}#{@query}"%>)">
					<div class="title_container_index">
						<h1 id="show_titles_h1"><%= story.title %></h1>
					</div>
				</div>
				<div class="description_container">
					<div class="first_sentence_container">
					</div>
					<div class="notes_container">
						<div class="next_update">
							
						</div>
						<div class="contribute_hearts">
							<p><%=story.get_likes.size%></p>
							<p class="material-icons fav">favorite</p>
						</div>
					</div>
				</div></a>
			</div>
			<% end %>
		<% end %>
	</div>
</div>
