<div class="story_list_container">
	<% @stories.each do |story| %>
		<!-- one story box -->
		<div class="story_container">
			<div class="image_container">
				<div class="title_container">
				</div>
			</div>
			<div class="description_container">
				<div class="first_sentence_container">
				</div>
				<div class="notes_container">
					<div class="next_update">
						
					</div>
					<div class="contribute_hearts">
						
					</div>
				</div>
			</div>
		</div>

	<% end %>
	
</div>
