<div>
	<div>
		image goes here
		<div>
			header and arrows
		</div>
		<div>
			time info and book button
		</div>
		<div>
			contributors and likes
		</div>
	</div>

	<div>
		write here
	</div>
	<div>
		container for segments
		<div>
			each segments goes here
		</div>
	</div>
</div>