.title_container_log h2 {
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	border: none;
	width: 100%;
	min-height: 60px;;
	background-color: #c34b3d;
}

.log_in {
	text-align: center;
	margin-top: 12%;
	font-size: 1.1em;
}


.log_in a {
	text-shadow: 0px 0px 0px #000000;
}

.sign_up {
	text-align: center;
	margin-top: 4%;
	font-size: 1.1em;
}

.sign_up a {
	text-shadow: 0px 0px 0px #000000;
}

.field input {
	// -webkit-appearance:none;
	outline: none;
	width: 80%;
	height: 100%;
	font-size: 1.1em;
}
.actions input {
	background-color: #c34b3d;
  border:none;
  font-size:1em;
  color:white;
  padding: 10px;
  margin-top: 20px;
}

.links {
	width: 100%;
	font-size: 0.8;
}

.links a {
	display: inline-block;
	font-size: 0.8em;
	padding: 15px;
}